/**
 * Navbar Styling
 */
a#navbar-link-admin-events:before {
  background-image: url("images/icon-events.png");
}

a#navbar-link-admin-events.active:before {
  background-image: url("images/icon-events-active.png");
}